# Environment variables
.env

# SQLite database file
db.sqlite3

# Vector database directory
pdf_embeddings/

# Virtual environment directory
venv/

# Python cache directories
**/__pycache__

# Django migration files
**/migrations/

# macOS system file
*.DS_Store

# Directory for storing PDFs
documents
