/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 2%;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    font-size: 36px;
}

.links {
    padding-left: 20px;
}

.logo-container a,
.signed-in-user a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.logo-container a:hover,
.signed-in-user a:hover {
    color: #a8b0bd;
    font-weight: semi-bold;
}

.logo-link {
    padding: 0;
}

.main {
    margin: auto;
    max-width: 70%;
    padding-top: 2%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.documents-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.document {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 25%; /* Adjust the width as needed */
    text-align: center;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document a {
    text-decoration: none;
    color: #5086bf;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
}

.document:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.document-title {
    width: 100%;
    font-size: 20px;
}

.fa-file-pdf {
    color: #d9534f; /* Red color for the PDF icon */
    font-size: 3em; /* Adjust size as needed */
}

.login-container {
    padding-top: 5%;
    max-width: 30%;
    width: 100%;
    text-align: left;
    margin: auto;
}

h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.welcome-msg {
    color: #777;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    transition: box-shadow 0.3s ease;
}

input[type="email"],
input[type="password"]:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 65vh;
    overflow-y: auto;
    padding-bottom: 30px;
}

.chat-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.query-reply-section {
    display: flex;
    flex-direction: row;
}

.logo-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.logo-circle img {
    width: 70%;
    height: 70%;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow:
            0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow:
            0.25em 0 0 white,
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow:
            0.25em 0 0 white,
            0.5em 0 0 white;
    }
}

.query-message-container,
.query-reply-container {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    max-width: 70%;
    border-radius: 20px;
    display: flex;
    color: #fff;
    margin-bottom: 20px;
    max-width: 60%;
    word-wrap: break-word;
}

.query-message-container {
    background-color: #007bff;
    border: 1px solid #007bff;
    flex-direction: row-reverse;
    align-items: right;
    align-self: flex-end;
}

.query-reply-container {
    border: 1px solid #888;
    background-color: #888;
    flex-direction: column;
    align-items: left;
    align-self: flex-start;
}

.query-message,
.query-reply {
    color: #fff;
    margin: 0%;
    margin-bottom: -1rem;
}

.temp-cursor {
    margin-bottom: 0rem;
}

.temp-cursor:after {
    content: ".";
    animation: dots 1.5s steps(5, end) infinite;
}

pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

code {
    font-family: "Menlo", Courier, monospace;
}

p code {
    font-weight: bold;
    color: #c3dcf7;
}

pre code {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    border-radius: 0;
    background: none;
    color: #f8f8f2;
}

.citation-container {
    margin-top: 10px;
}

.citation-paragraph {
    margin-bottom: 4px;
}

.citation-link {
    color: #c3dcf7;
    transition: font-weight 0.3s ease-in-out;
}

.citation-link:hover {
    color: #c3dcf7;
    font-weight: bold;
    text-decoration: none;
}

.query-form {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    transition: box-shadow 0.3s ease;
}

.query-form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.query-input {
    background: inherit;
    border: none;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.query-submit {
    width: auto;
    max-width: 2%;
    margin: auto;
    margin-right: 10px;
    color: "#ccc";
}

input:focus {
    outline: none;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.options a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register {
    margin-top: 20px;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
